@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

@font-face {
  font-family: 'Engry Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Engry Regular'), url('/fonts/engry.woff') format('woff');
  }
:root{
    --bg-color: #d4d4c2;
    --font-family: 'Prata', serif;
    --text-color: #434343;
    --font-family-zagolov: 'Engry Regular', serif;
}

body{
    background-color: var(--bg-color) ;
}
.paper{
    position: absolute;
    width: 60%;
    display: block;
    left: 0;
    right: 0;
    margin: auto;
    padding-right: 15px;
    padding-left: 15px;
}
.paper-cont{
  position: absolute;
  width: 60%;
  display: block;
  left: 0;
  right: 0;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.navigation{
    padding-top: 20px;
}
.logotype{
    position: relative;
    width: 20%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.nav{
    position: relative;
    padding-top: 20px;
}
.about, .main, .author{
    display: inline-block;
    text-decoration: none;
    color: var(--text-color);
    font-family:var(--font-family);
    font-size: 21px;
}
.about-p, .main-p, .author-p{
    color: var(--text-color);
    transition-duration: .2s;

}
.about-p:hover{
    color: #ffffff;
}
.main-p:hover{
    color: #ffffff;
}
.author-p:hover{
    color: #ffffff;
}
.drums{
  padding-top: 20px;
  padding-left: 100px;
  width: 100%;
  height: auto;
}
.paper-bd{
  position: absolute;
  height: auto;
  padding-top: 20px;
  width: 80%;
  z-index: 0;
}
.join-in{
  font-family:var(--font-family-zagolov);
  text-align: center;
  padding-top: 36px;
  color: var(--text-color);
  margin-right: 77px;
  position: relative;
  font-size: 24px;
  z-index: 100;
}
.email-p{
  font-family:var(--font-family);
  color: var(--text-color);
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.password-p{
  font-family:var(--font-family);
  color: var(--text-color);
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.email{
  width: 90%;
  height: 30px;
  border-radius: 10px;
  border: none;
  background: #ececea;
  border-color:#ffd9a1 ;
}
.password{
  border: none;
  border-radius: 10px;
  width: 90%;
    background: #ececea;
  height: 30px;
}
.register{
  position: relative;
  display: block;
  margin-top: 30px;
  background-color: var(--text-color);
  border: none;
  color: #ffffff;
  height: 40px;
  width: 500px;
  border-radius: 20px;
  font-family:var(--font-family);
}

.already-student{
  text-align: center;
  font-family:var(--font-family);
  color: var(--text-color);
}
.completely-free{
  font-size: 50px;
  color:var(--text-color);
  font-family: var(--font-family);
  text-align: center;
}
.login{
  color:var(--text-color);
}
.text-bg-2{
  position: absolute;
  width: 97%;
  height: auto;
}
.mouse-scroll{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 5%;
  height: auto;
  padding-top: 70px;
}
.about-course, .author-course{
  position: relative;
  text-align: center;
  top: 220px;
  font-size: 35px;
  font-family: var(--font-family-zagolov);
  color: var(--text-color);
  z-index: 100;
}
.about-container{
  padding-top: 300px;
}
.about-container img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 100%;
}
.fin{
  position: absolute;
  width: 60%;
  display: block;
  left: 0;
  right: 0;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
  top: 2217px;
  z-index: -1;
}
.about-container p{
  text-align: center;
  font-family: var(--font-family-zagolov);
}
.dodonts-desc, .kaif-desc, .technics, .musicians{
  font-family: var(--font-family);
  font-size: 13px;
}
.author-img{
  width: 80%;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.author-row{
  top: 317px;
  position: relative;
}
.span-a{
  color: var(--text-color);
  font-family:var(--font-family-zagolov);
  font-size: 36px;
}

.author-p-about{
  font-family: var(--font-family);
  font-size: 25px;
}
@media (min-width: 576px) {
    .paper {
      width: 100%;
    }
  }
  @media (min-width: 768px) {
    .paper {
      width: 100%;
    }
  }
  @media (min-width: 992px) {
    .paper {
      max-width: 960px;
    }
  }
  @media (min-width: 1200px) {
    .paper {
      max-width: 1140px;
    }
  }

